@model IEnumerable<AM.ApplicationCore.Domain.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.planeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.planeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planeId)
            </td>
                <td>
                    @foreach (var flight in item.flights)
                    {
                        <partial name="__FlightDetails" model="flight" />
                    }
                   
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.planeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.planeId })
            </td>
        </tr>
}
    </tbody>
</table>
